{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
	<div class="jumbotron">
		<center>
			<h1>{{ titre }}</h1>
			<p>Le site de programmation python en ligne</p>
			<img src="{% static 'appli/logo/EasyPython.png' %}"/>
		</center>
	</div>
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{ data.titre }} a été mis en ligne le  {{ data.date }}
				</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-12">
					L'exercice a été posté par {{ data.auteur }}
				</div>
			</div>
		</div>
		{% for a in art %}
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{ a.nom }} poste le {{ a.date }}
					</h3>
				</div>
				<div class="panel-body">
					<div class="col-sm-12">
						{{ a.affichage }}
						<p align="right">
							<a href="{{ a.lien }}"><button type="button" class="btn btn-primary btn-sm">Vers le lien</button></a>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% if obt %}
		<script>
			alert("Vous venez d'obrenir le badge 'beta'")
		</script>
	{% endif %}
{% endblock %}
