{% extends "base.html" %}


{% block content %}
<br>
<br>
<br>
<br>


{% load staticfiles %}
{% block styles %}


<script src="{% static 'appli/codemirror/python.js' %}"></script>
<script src="{% static 'appli/codemirror/matchbrackets.js' %}"></script>
<style type="text/css">.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}</style>
<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">



<link rel=stylesheet href="{% static 'appli/codemirror/codemirror.css' %}">
<link rel=stylesheet href="{% static 'appli/codemirror/docs.css' %}">
<script src="{% static 'appli/codemirror/codemirror.js' %}"></script>
<script src="{% static 'appli/codemirror/python.js' %}"></script>
<link rel="stylesheet" href="{% static 'appli/codemirror/codemirror.css' %}">

{% endblock styles %}


<h1></h1>




		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Zone d'Ajout
					
				</h3>
			</div>
			
			<div class="panel-body">
				<form class="form-horizontal" role="form" name="reponse" action="{% url 'appli.views.creer_aide'  %}" method="POST">
					{% csrf_token %}
					<hr align=left style="color: #0040FF; height:2px; background-color: #5882FA;" /> 
				<h1><b>Caractéristiques</b></h1>
				<hr align=left style="color: #0040FF; height:3px; background-color: #5882FA;" /> 
				<br>
<!--
			<div class="col-xs-2 ">
-->				<b>Nom de l'aide:</b>
				 {{ form.nom_aide }}<br>
				<br>
				
				<b>Description de l'aide</b>
				 {{ form.describ }}<br>
				<br>
				<input align="right" type="submit" value="Valider"/>
				</form>
			</div>
		</div>
<br>
<br>
{% endblock %}
{% block scripts %}
{% if not good %}
	<script>
		alert("La définition existe déjà !")
	</script>
{% endif %}
<script>
    var editor = CodeMirror.fromTextArea(document.getElementById("id_codes"), {
    mode: {name: "python",
    version: 3,
    singleLineStringErrors: false},
    lineNumbers: true,
    indentUnit: 4,
    matchBrackets: true
    });
</script>
{% endblock scripts %}
