{% extends "base.html" %}
{% load staticfiles %}
{% block page_profil %}
	<li class="dropdown active">
{% endblock page_profil %}
{% block content %}
	<h1>Profil Professeur</h1>
	<br>
	<br>
	<center>
		<div class="well" style="width:1000px">
			<h1>Vos badges</h1>
			<table width=100%>
				<tr>
					<td><a href="{% url 'appli.views.badges' %}"><p>Progression des succès</p></a></td>
					<td>
						<!--
						Pour amélioration CSS: http://www.creativejuiz.fr/blog/veille-technologique/html5-element-progress-avancement-tache
						-->
						<progress max={{ tailleBadges }} value={{ tailleBadgesUtil }} form="form-id">progression</progress>
					</td>
					<td><p>
						{% for b in lastbadges %}
							<img src="{% static 'appli/badges/' %}{{ b.image }}" title={{ b.nom }}>
						{% endfor %}
						{% if tailleLastB > 5 %}
							<a href="{% url 'appli.views.badges' %}"><img src="{% static 'appli/badges/plus.png' %}" title={{ b.nom }}></a>
						{% endif %}
					</p></td>
				</tr>
			</table>
		</div>
		<div class="well" style="width:1000px">
		<h4>{{ user.first_name }} {{ user.last_name }}</h4>
		<table width=100%>
			<form action="{% url 'appli.views.profilProf' %}" method="post" class="form-horizontal" role="form">
				<tr>
					<td width=10% align="center" height=50px>
						
						{% csrf_token %}
						Choisir un exercice</br>
						<select class="form-control " name="nom_exo">
						<option>-- Tous les exercices --</option>
						{% for exo in lesExos %}
						<option>{{ exo.titre }}</option>
						{% endfor %}	
						</select>   
					</td>
					<!--
					<td width=10% height=30px></td>
					-->
					<td width=10% align="center" height=50px>
						Choisir une catégorie</br>
						<select class="form-control " name="categorie">
							<!--
							<option>Notes</option>
							-->
							<option>Nombre de tentatives</option>
						</select>   
					</td>
					<td width=10% align="center" height=50px>
						Choisir un groupe</br>
						<select class="form-control " name="groupe">
							<option>-- Tous les groupes --</option>
							{% for elem in listeGroupe %}
								<option>{{ elem }}</option>
							{% endfor %}
						</select>   
					</td>
					<td width=10% height=50px><button type="submit" class="btn btn-primary btn-sm">Rechercher</button></td></a>
				</tr>
			</form>
		</table>
		</br>
		</br>
		{{ groupe }}
		<!-- GRAPHIQUE -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<style type="text/css">
			${demo.css}
		</style>
		<script type="text/javascript">
			$(function () {
				$('#container').highcharts({
					title: {
					{% if exercice != None %}
					text: '"'+"{{ exercice }}"+'"',
					x: -20 //center
					{% else %}
					text:'"'+'Tous les exercices'+'"',
					x: -20
					{% endif %}
					},
					subtitle: {
					text: '',
					x: -20
					},
					xAxis: {
					categories: [ "{{ dates.0 }}" , "{{ dates.1 }}", "{{ dates.2 }}", "{{ dates.3 }}", "{{ dates.4 }}", "{{ dates.5 }}","{{ dates.6 }}"]
					},
					yAxis: {
					title: {
					{% if groupe != None %}
					text: 'Nombre de tentatives du groupe '+"{{ groupe }}"
					{% else %}
					text: 'Nombre de tentatives de tous les groupes'
					{% endif %}
					},
					plotLines: [{
					value: 0,
					width: 1,
					color: '#808080'
					}]
					},
					tooltip: {
					valueSuffix: ''
					},
					legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
					},
					series: [{
					name: 'Tentatives réussites',
					//~ color: "#FF1400",  # si on veut changer les couleurs
					data: [ {{ listeInd2.0 }} ,  {{ listeInd2.1 }},  {{ listeInd2.2 }},  {{ listeInd2.3 }},  {{ listeInd2.4 }},  {{ listeInd2.5 }},  {{ listeInd2.6 }}]
					}, {
					name:  'Tentatives totales'  ,
					data: [ {{ listeInd.0 }} ,  {{ listeInd.1 }},  {{ listeInd.2 }},  {{ listeInd.3 }},  {{ listeInd.4 }},  {{ listeInd.5 }},  {{ listeInd.6 }}]
					}]
				});
			});
		</script>
		<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</br>
		</div>
	</center>
{% endblock content %}
